:root {
	font-size: 18px;
	min-height: 100%;
	font-family: monospace;
	--size: 1rem;
	--size-game: 70vmin;
	--c-bg-alive: blue;
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-bg: transparent;
		--c-fg: black;
		--c-link: orange;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-bg: transparent;
		--c-fg: white;
		--c-link: turquoise;
	}
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
details {
	position: absolute;
	bottom: 0;
	left: 0;
}
summary {
	padding: var(--size);
	cursor: pointer;
}
menu {
	padding: var(--size);
}
menu a {
	/* text-decoration: none; */
	color: var(--c-bg-alive);
}
life-game {
	--size-grid: 0;
	display: grid;
	width: 100%;
	height: 100%;
	max-width: var(--size-game);
	max-height: var(--size-game);
	grid-template: repeat(var(--size-grid), 1fr) / repeat(var(--size-grid), 1fr);
	background-color: transparent;
}
life-cell {
	background-color: var(--c-bg);
	/* transition: background-color 200ms ease-in-out; */
}
life-cell[alive="true"] {
	background-color: var(--c-bg-alive);
}
