:root {
	--size: 1.5rem;
	--size-border: 0.3rem;
	--size-frame: 45vmin;
	--border-style: dashed;
}

html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

love-evolve {
	--animation-duration: calc(23 * 2 * 1s);
	--animation-timing: ease-in-out;
	padding: var(--size);
	width: 100vw;
	height: 100vh;
	perspective: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--c-bg);
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-fg: green;
		--c-bg: purple;
		--c-border: yellow;
		--outline-color: red;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-fg: green;
		--c-bg: black;
		--c-border: yellow;
		--outline-color: red;
	}
}

love-particule {
	--animation-delay: 1s;
	position: absolute;
	height: var(--size-frame);
	width: var(--size-frame);
	animation: rotate var(--animation-duration) infinite var(--animation-timing);
	animation-delay: var(--animation-delay);
	animation-direction: alternate;
	border: var(--size-border) var(--border-style) var(--c-border);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--size) * 2);
	outline: 0.1rem solid var(--outline-color);
	outline-offset: calc(var(--index) / 2 * 0.4rem);
	cursor: pointer;
	transition: border-radius 200ms ease-in-out;
}
love-particule:nth-child(2n + 1)::after {
	content: "love";
	transform: rotateX(calc(var(--index) * 90deg));
}
love-particule::before(2n + 2)::before {
	content: "evolve";
	transform: rotateY(190deg) rotateX(calc(var(--index) * 45deg));
}
love-particule:nth-child(2n)::after {
	content: "evolve";
	transform: rotateY(190deg);
}

love-particule::before,
love-particule::after {
	font-smooth: always;
	display: flex;
	padding: var(--size);
	color: var(--c-fg);
	position: absolute;
	width: 0;
	height: 0;
}
love-particule:focus {
	border-radius: 50%;
	border-color: purple;
}
love-particule:hover {
	border-color: blue;
}
love-particule:nth-last-of-type {
	animation-delay: calc(var(--animation-delay) * 10);
}
love-particule:nth-last-of-type(4):focus,
love-particule:nth-last-of-type(6):focus {
	font-size: 2rem;
	background-color: var(--color);
	opacity: 0.3;
}
love-particule:focus::before,
love-particule:focus::after {
	filter: invert(1);
}

/* the animation with various steps and transformations */
@keyframes rotate {
	0% {
		transform: scale(1) rotateX(0) rotateY(0);
	}
	5% {
		transform: rotateX(-180deg) rotateY(180deg);
	}
	10% {
		transform: rotateX(180deg) rotateY(calc(-360deg / var(--index)));
	}
	20% {
		transform: scale(calc(var(--index) / 1.7))
			translateY(calc(10% * var(--index)));
	}
	25% {
		transform: scale(calc(var(--index) / 1.7))
			translateY(calc(10% * var(--index))) translateX(calc(-20% * var(--index)));
	}
	30% {
		transform: scale(1) rotateY(-350deg) rotateY(calc(333deg / 2))
			translateY(calc(-20% * var(--index))) translateX(calc(20% * var(--index)));
		outline-width: inherit;
	}
	40% {
		transform: scale(0.8) rotateY(calc(-360deg / 2)) rotateY(-360deg)
			translateX(calc(30% * var(--index)));
		outline-width: 1rem;
	}
	45% {
		transform: scale(calc(var(--index) * 2)) rotateY(360deg)
			translate2d(calc(30% * var(--index)) calc(-30% * var(--index)));
		outline-width: inherit;
	}
	50% {
		transform: rotateX(-360deg) rotateY(calc(-360deg / 2)) scale(1);
	}
	55% {
		transform: scale(calc(var(--index) * 1)) rotateY(360deg) rotateX(180deg);
	}
	60% {
		transform: scale(1) rotateX(-360deg) rotateY(-360deg);
	}
	70% {
		transform: scale(calc(var(--index) * 0.5)) rotateX(-360deg) rotateY(-360deg);
	}
	80% {
		transform: scale(0.8) rotateY(360deg) rotateX(-360deg);
	}
	90% {
		transform: scale(calc(1.3 * var(--index) * 0.8)) rotateX(360) rotateY(0);
	}
	100% {
		transform: scale(calc(0.8 * var(--index))) rotateX(360deg);
	}
}

@keyframes rotateSimple {
	0% {
		transform: rotateX(0) rotateY(0);
	}
	100% {
		transform: rotateX(360) rotateY(360);
	}
}
