html[we-paint-you] {
	:is(body) {
		margin: 0;
	}
	&,
	:is(body),
	:is(we-paint-you) {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow: scroll;
	}
	min-height: 100%;
}

we-paint-you {
	:is(artwork-paint) {
		:is(canvas) {
			border: 1px solid black;
			cursor: crosshair;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		opacity: 0.5;
		position: relative;
	}
	:is(artwork-publish) {
		:is(button) {
			padding: 0.5rem;
			margin: 0.5rem;
		}
		position: fixed;
		top: 0;
		right: 0;
	}
	:is(artwork-subscribe) {
		:is(img) {
			position: absolute;
		}
		position: absolute;
		z-index: -1;
	}
}
