/* Scenes */
.Scenes {
  display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

/* scene */
.Scene {
  min-width: 10vw;
  min-height: 5rem;
	transform-style: preserve-3d;
	transition: transform 600ms ease-in-out;
}
.Scene a {
	text-decoration: none;
}
.Scene a:focus {
	text-decoration: none;
	display: block;
	outline: 4px solid blue;
	outline-offset: 3rem;
	outline-style: dotted;
}
.Scene a:visited {
	outline-color: purple;
}
.Scene a:hover {
	opacity: 0.5;
}

.Scene .Widget--box {
	display: none;
}
@media (min-width: 60rem) {
	.Scene .Widget--box {
		display: flex;
	}
}
.Scene.Scene--game .Widget--box {
	display: block;
}


/* Each scene specifically */
.Scene--1 {
	transform: scale(0.6) rotate3d(1, 1, 1, -10deg) translate3d(-5vh, 50vh, 0);
}
.Scene--2 {
	transform: scale(1.3) rotate3d(3.3, 11.3, 0.7, 105deg);
}
.Scene--3 {
	transform: scale(0.7) rotate3d(0.4,0.2,0.8, 140deg) translate3d(6vh, -10vh, -5vh);
}
.Scene--4 {
	transform: scale(1) rotate3d(0,-0.2,0.9, 10deg) translate3d(-10vh, -25vh, 0);
}
.Scene--5 {
	transform: scale(0.9) rotate3d(0.5,0.6,1, 45deg) translate3d(-15vh, -20vh, -15vh);
}
.Scene--6 {
	transform: scale(0.9) rotate3d(0, 0, 0, 0deg) translate3d(-5vh, 5vh, 0vh);
	z-index: -1;
}

.Scene--game {
	transform: translateY(20%);
}
.Scene--game .Widget:before {
	content: 'Ça va?';
	color: var(--c-fg);
	position: absolute;
	top: 30%;
	left: -50%;
	font-size: 2rem;
	text-decoration: none;
  user-select: none;
	pointer-events: none;
}
.Scene--game a:focus .Widget::before {
	content: 'Play a game?';
	left: -170%;
	padding: 1rem;
	background-color: var(--c-bg);
}
