.Scene {
	--color-animation-focus-background: wheat;
}

.Scene a:focus::after {
	position: absolute;
	top: 0;
	font-family: mono;
	padding: 1rem;
	background-color: var(--color-animation-focus-background);
}
.Scene--2 a:focus::after {
	content: 'Find!';
	transform: rotate(210deg);
}
.Scene--4 a:focus::after {
	content: 'Radio4000';
}

.Scene--6 a:focus::after {
	content: 'Need a portfolio?';
	left: -10vh;
}
