/* Fountain Widget */
@keyframes AnimationTranslate {
  0% {
		transform: translateY(10);
	}
  50% {
		transform: translateY(120%);
	}
  100%{
		transform: translateY(10);
	}
}

@keyframes AnimationRotate {
  0% {
		transform: rotate(0);
	}
  50% {
		transform: rotate(360deg);
	}
  100%{
		transform: rotate(360deg);
	}
}

/*
  Application
*/

.Widget--fountain {
  animation: AnimationRotate, AnimationTranslate 1.5s infinite;
	display: flex;
	flex-direction: column;
}

.Widget--fountain .Widget-item:nth-of-type(1) {
  display: block;
  height: 3em;
  width: 3em;
  background-color: yellow;
  margin-left: -6em;
	transform: translateX(300%);

  animation: AnimationRotate, AnimationTranslate 1s infinite;
}

.Widget--fountain .Widget-item:nth-of-type(2) {
  display: block;
  height: 3em;
  width: 3em;
  background-color: fuchsia;
  margin-right: -6em;
  animation: AnimationRotate, AnimationTranslate 1.2s infinite;
}

.Widget--fountain .Widget-item:nth-of-type(3) {
	display: block;

  width: 3em;
  height: 3em;
  background-color: cyan;
	transform: translateY(-300%);

	animation: AnimationRotate, AnimationTranslate 1s infinite;
}
