/* Wheel widget */

@keyframes AnimationFloating {
  0% {
		transform: translateX(0);
		transform: rotate(0);
	}
  50% {
		transform: translateX(20%);
		transform: rotate(510deg);
	}
  100%{
		transform: translateX(0);
		transform: rotate(360deg);
	}
}

/*
  Applications
*/

.Widget--wheel {
  position: absolute;
	z-index: 3;
  top: 50%;
  left: 50%;

  width: 2em;
  height: 2em;
  background-color: red;

  animation: AnimationFloating 1.5s infinite;
}

.Widget--wheel::before {
  content: "";
  display: block;
  height: 2em;
  width: 2em;
  background-color: green;
  z-index: 1;
  position: absolute;
  left: -4em;

  animation: AnimationFloating 1s infinite;
}

.Widget--wheel::after {
  content: "";
  display: block;
  height: 2em;
  width: 2em;
  background-color: blue;
  z-index: 1;
  position: absolute;
  right: -4em;
  animation: AnimationFloating 1.2s infinite;
}
