/* Widget box */
/* 3d cube from
	 https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate3d
*/

.Widget--box {
	--color-face-front: rgba(90,90,90,0.4);
	--color-face-right: rgba(210,0,0,0.7);
	--color-face-left: rgba(0,0,210,0.7);
	--color-face-top: rgba(210,210,0,0.7);
	--color-face-bottom: rgba(210,0,210,0.7);
	--color-face-back: rgba(0,210,0,0.7);
}

.Widget--box {
    width: 20vh;
    height: 20vh;
    transform-style: preserve-3d;
		transform: rotate3d(1, 1, 1, 45deg);
		transition: all 0.5s ease-in;
}
.Widget--box:nth-child(3) {
		transform: rotate3d(1, 1, 1, 65deg);
		transition: all 0.5s ease-out;
}
.Widget--box:hover {
	transform: rotate3d(2, -1, -1, -0.2turn);
}
@media screen and (min-width: 800px) {
	.Widget--box {
    width: 40vh;
    height: 40vh;
	}
}

.Widget--box .Widget-item {
  width: 100%;
  height: 100%;
  position: absolute;
}
.Widget--box .Widget-item--front {
  background: var(--color-face-front);
  transform: translateZ(50px);
}
.Widget--box .Widget-item--back {
  background: var(--color-face-back);
  transform: rotateY(180deg) translateZ(2em);
}
.Widget--box .Widget-item--right {
  background: var(--color-face-right);
  transform: rotateY(90deg) translateZ(2em);
}
.Widget--box .Widget-item--left {
  background: var(--color-face-left);
  transform: rotateY(-90deg) translateZ(2em);
}
.Widget--box .Widget-item--top {
  background: var(--color-face-top);
  transform: rotateX(90deg) translateZ(2em);
}
.Widget--box .Widget-item--bottom {
  background: var(--color-face-bottom);
  transform: rotateX(-90deg) translateZ(2em);
}
