/* this aw */
aw-mx {
	--fs: 10vh;
	--text: green;
}
aw-mx {
	font-size: var(--fs);
	text-align: center;
	display: flex;
	width: 100%;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
}

/* if child are inside svg */
aw-mx svg {
	width: 100%;
	height: 100%;
}

aw-mx custom-column {
	height: 100vh;
	width: 100%;
	max-width: 1em;
}

/* if in mono color */
aw-mx[mono] custom-char {
	color: var(--text);
	width: 1em;
}
