/* box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* vars */
:root {
	--color: black;
	--background-color: white;
	--font-size: 17px;
	--s: 0.5rem;
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
	}
}

html {
	font-size: var(--fs);
	color: var(--c-fg);
	background-color: var(--c-bg);
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	color: var(--c-fg);
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
}

a-scene {
	z-index: -1;
}
body {
	opacity: 0;
	transition: 1500ms ease-in-out;
}
body[is-loaded] {
	opacity: 1;
}
html {
	transition: all 555ms ease-in-out
	background: green;
}
html:not(:has(body[is-loaded])) {
	background: red;
}

.a-enter-vr-button {
	display: none;
}

.Site-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5rem;
}
.Site-title a {
	text-decoration: none;
}
.Site-menu {
	padding: var(--s);
	margin: 0;
}

menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

menu a {
	padding: var(--s);
}
menu a[disabled] {
	text-decoration: line-through;
}

.Site-aside {
	z-index: 0;
}
.Site-header,
.Site-main {
	z-index: 1;
}

.Site-header,
.Site-main,
.Site-footer {
	filter: invert(1);
	mix-blend-mode: difference;
	color: var(--c-fg);
}

.Site-header {
	position: fixed;
	top: 0;
}
.Site-footer {
	position: fixed;
	bottom: 0;
}

.Site-description {
	text-align: center;
}
