/* global variables */
:root {
	--fs: 50px;
	--ff: monospace, sans-serif, serif;

	/* try with query params: */
	/* 	- ?mono=true */
	/* 	- ?message=<atob(string) */
	--monochrome: false;
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--bg: transparent;
		--text: black;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--bg: black;
		--text: white;
	}
}

/* use box sizing here */
/* https://css-tricks.com/box-sizing/#universal-box-sizing-with-inheritance */
* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* global layout */
html, body {
	height: 100vh;
	width: 100%;
}

html {
	background-color: var(--bg);
	font-size: var(--fs);
	font-family: var(--ff);
}
body {
	margin: 0;
}
