custom-char {
	--size: 0.1rem;
	--outline: solid var(--size) var(--fg);
	--scale: 1;
	--marked: white;

	/* overwrited w/ js */
	--existance: 600;
	--fg: transparent;
}
custom-char {
	/* no css transition, too much consumption,
		 since too many chars on screen */
	line-height: 1;
	letter-spacing: 1;
	color: var(--fg);
	display: inline;
	cursor: pointer;
	padding: var(--size);
	transform: rotate3d(0, 0, 0, 0) scale(var(--scale));
	outline-offset: 0.3rem;
	outline-width: 0.3rem;
}
custom-char:focus {
	color: var(--fg);
	outline: var(--outline);
	font-weight: bold;
}
custom-char[cursor] {
	outline: var(--outline-cursor);
	color: var(--bg);
	outline-style: dotted;
}
custom-char[cursor]:focus {
	outline-style: solid;
}
/* inspected state */
custom-char[inspect] {
	--scale: 3;
}
custom-char[marked] {
	background-color: var(--marked);
}
custom-char:hover {
	color: var(--fg);
	font-weight: bold;
}

/* animation state */
custom-char[animate] {
	display: flex;
	flex-direction: column;
	transform-origin: center;
	text-align: center;
	min-height: 1em;
	display: inline-block;
}
custom-char[animate] {
	position: realtive;
	animation-name: AnimationChar;
	animation-iteration-count: infinite;
	animation-duration: calc(var(--existance) * 42);
	animation-fill-mode: infinite;
	z-index: 0;
}
custom-char[animate]:nth(3n) {
	animation-direction: alternate;
}
custom-char[animate]:nth(3) {
	animation-name: AnimationCharBackground;
}
@keyframes AnimationChar {
	0% {
		transform: rotate3d(0, 1, 0, 0) scale(var(--scale));
	}
	100%{
		transform: rotate3d(0, 1, 0, 360deg) scale(var(--scale));
	}
}
@keyframes AnimationCharBackground {
	0% {
		transform: rotate3d(0, 1, 0, 0) scale(var(--scale));
	}
	100%{
		transform: rotate3d(0, 1, 0, 360deg) scale(var(--scale));
	}
}

/* display the char in css if no attr <char screen/> */
custom-char:not([screen])::before {
	content: attr(char);
}
custom-char[animate="3d"]::before {
	content: attr(char);
	transform: rotate3d(0, 1, 0, 45deg) scale(var(--scale));
	transform-origin: center;
	font-size: 0.9rem;
	filter: contrast(200%);
}
custom-char[animate="3d"]::after {
	content: attr(char);
	transform: rotate3d(0, 1, 0, -45deg) scale(var(--scale));
	transform-origin: center;
	font-size: 0.6rem;
	filter: hue-rotate(90deg);
}
